{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('tempo_remove') }}">Clear session</a>
    <h1 style="text-align: center">{{ magasin.nom }}</h1>
    <div class="row">
    {% for stock in magasin.stocks %}
        <div class="card col-2 mr-5 mt-5" style="width: 18rem;">
            <img class="card-img-top" src="{{ '../../image/'~ stock.produit.label ~'.jpg' }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ stock.produit.label }}</h5>
                <p class="card-text">Quantité restante : {{ stock.quantity }}</p>
                {% if stock.quantity < 1 %}
                    <a href="#" class="btn btn-danger disabled" aria-disabled="true">Rupture de stock</a>
                {% else %}
                    <a href="{{ path('commande_add_product', {id: stock.produit.id}) }}" class="btn btn-primary">Commander</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
