{% extends 'base.html.twig' %}
{% block body %}
    <h2>Gérer les commandes :</h2>
    {% for commande in commandes %}

        {% if commande.etat.id == 1 %}
            {% set color = 'text-warning' %}
        {% elseif commande.etat.id == 2 %}
            {% set color = 'text-warning' %}
        {% elseif commande.etat.id == 3 %}
            {% set color = 'text-info' %}
        {% elseif commande.etat.id == 4 %}
            {% set color = 'text-succes' %}
        {% elseif commande.etat.id == 5 %}
            {% set color = 'text-danger' %}
        {% elseif commande.etat.id == 6 %}
            {% set color = 'text-secondary' %}
        {% endif %}

        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title">
                    <p>Commande numéro : {{ commande.id }}</p>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col">
                        <h5 class="">Magasin</h5>
                        <p>{{ commande.magasin.nom }}</p>
                    </div>
                    <div class="col">
                        <h5 class="">Prix</h5>
                        <p>{{ commande.prixTotal }}€</p>
                    </div>
                    <div class="col">
                        <h5 class="">Etat</h5>
                        <p class="{{ color }}">{{ commande.etat.label }}</p>
                    </div>
                    <div class="col">
                        <a href="{{ path('commande_gerer_etat', {id: commande.id}) }}"><button class="btn btn-primary">Changer etat</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}